<!DOCTYPE html>
<html lang="us" xmlns="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>List of Owners</title>
</head>
<body>
	<h1 th:text="'List of owners'">List of pet owners</h1>
	
	<table style="width:50%" >
	<tr>
		<th>Owner ID</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	<tr th:each=owner:${owners}>
		<td th:text="${owner.id}">123</td>
		<td th:text="${owner.firstName}">Title</td>
		<td th:text="${owner.lastName}">Name</td>
	</tr>
</table>

</body>
</html>