<!DOCTYPE html>
<html lang="us" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Vets'">List of Vets...</h2>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Vet ID</th>
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each=vet:${vets}>
		<td th:text="${vet.id}">123</td>
		<td th:text="${vet.firstName}">Title</td>
		<td th:text="${vet.lastName}">Name</td>
	</tr>
	</tbody>
</table>
</body>
</html>